@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  background-color: #141414;
  width: 85%;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-width: 85px;
}

ul {
  width: 80%;
  align-items: center;
}
li {
  margin-right: 1.8em;
  font-size: 13px;
  font-weight: 100px;
  color: white;
}

.active {
  font-weight: 800;
}

h1,
h2,
p,
.star {
  color: white;
}

.star {
  width: 20px;
}

.popularity {
  display: flex;
  align-items: center;
  height: 37px;
}

.badges {
  display: flex;
}
@media screen and (max-width: 630px) {
  .badges {
    flex-direction: column;
  }
}

.big-pop {
  max-width: 164px;
}

.small-pop {
  max-width: 154px;
}

.desc {
  text-align: justify;
}

.star-card {
  color: #e50914;
  width: 20px;
}

.rating {
  align-items: center;
}

.vote {
  font-size: 14px;
}

.genre {
  font-size: 12px;
  background-color: #e50914;
}

input {
  border: 1px solid white;
}
