@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  background-color: #141414;
}

.container {
  margin: 0 auto;
  width: 85%;
}

.container {
  margin: 0 auto;
}

.container-detail {
  padding-top: 6em;
}

.navbar {
  margin: 0 auto;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(20, 20, 20);
  z-index: 99;
}
.navbar-container {
  align-self: center;
}

.link-logo {
  display: flex;
  align-self: center;
}
.logo {
  align-self: center;
  min-width: 95px;
}

ul {
  width: 80%;
  align-items: center;
}
li {
  margin-right: 1.8em;
  font-size: 13px;
  font-weight: 100px;
  color: white;
}

.active {
  font-weight: 800;
}

h1,
h2,
p,
.star {
  color: white;
}

.star {
  display: flex;
  width: 20px;
  color: #e50914;
  align-self: center;
}

.badges {
  display: flex;
  align-items: center;
}

.status {
  align-self: center;
}

.big-pop {
  max-width: 164px;
}

.small-pop {
  max-width: 154px;
}

.desc {
  text-align: justify;
}

.star-card {
  color: #e50914;
  width: 20px;
}

.rating {
  align-items: center;
}

.vote {
  font-size: 14px;
}

.genre {
  font-size: 12px;
  background-color: #e50914;
}

.popularity {
  flex-direction: column;
  align-self: center;
}

.rating {
  margin-right: 1em;
}

/* .card-image {
  object-fit: cover;
  height: 424px;
  width: 298px;
} */

.stars {
  align-items: center;
  margin: 0 auto;
  width: 70%;
  justify-content: space-around;
}

.rating-text {
  font-size: 14px;
}

@media screen and (max-width: 820px) {
  .badges {
    flex-direction: column;
  }

  .popularity {
    margin-top: 2em;
  }

  .status {
    margin-top: 0.65em;
    align-self: start;
  }
}

input {
  background-color: transparent;
  padding: 0.6em;
  font-size: 13px;
  width: 100%;
  color: white;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
}

.trend {
  color: white;
  margin-right: 5px;
}

@media screen and (max-width: 400px) {
  .rating-text {
    font-size: 12px;
  }
}

footer {
  margin-top: 7em;
  margin-bottom: 1em;
}

footer p {
  font-size: 15px;
  text-align: center;
}

.ending {
  font-size: 11px;
}

.search-container {
  position: absolute;
  top: 16.5px;
  padding: 0 0.2em;
  position: fixed;
  z-index: 999;
  display: flex;
  height: 36.5px;
  width: 275px;
  border: 1px solid white;
}

@media screen and (max-width: 485px) {
  .search-container {
    position: relative;
    top: -19px;
    width: 100%;
  }

  .input {
    width: 100%;
    border: 2px solid red;
  }
}

.search-icon,
.close-icon {
  font-size: 25px;
  align-self: center;
  color: white;
}

.close-icon {
  margin-left: 5px;
  cursor: pointer;
}
.search-section {
  display: flex;
  justify-content: end;
}

.no-results {
  display: flex;
  justify-content: center;
  margin: 6em 0 26em 0;
}

.no-results h1 {
  font-size: 11px;
}

.sort-by:focus {
  outline: none;
}

.section-sort {
  margin-top: 4.7em;
  margin-bottom: 2em;
  display: flex;
  justify-content: end;
}

.menu-items {
  background-color: #141414;
}

.link-search {
  width: 100%;
}

.back-to-home {
  text-decoration: underline;
  cursor: pointer;
}
